<div class="wrapper">
  <div class="container">
    <div style="display:flex; flex-direction: row;">

      <span>
        <div class="form_column">
          <label>Название тега</label>
          <input value="Введите название">
        </div>
        <div class="form_column">
          <label>Принадлежность</label>
          <input value="Выбрать">
        </div>
      </span>
      <span>
        <div class="form_column">
          <label>Источник данных</label>
          <input value="Выбрать">
        </div>
        <div class="form_column">
          <label>Единицы измерения</label>
          <input value="Выбрать">
        </div>
      </span>
      <span>
        <div class="form_column">
          <label>Значение</label>
          <input value="Выбрать">
        </div>
        <div class="form_column">
          <label>Тех. мониторинг</label>
          <span class="toggle-bg">
            <input type="radio" name="toggle" value="off">
            <input type="radio" name="toggle" value="on">
            <span class="switch"></span>
          </span>
        </div>
      </span>

    </div>
    <div class="form_column">
      <label>Описание</label>
      <textarea class="form_big-text" maxlength="60" cols="40" rows="4">Текстовое поле</textarea>
    </div>
  </div>
</div>