.header{
    background-color: rgba(211, 211, 211, 0.568);
    text-align: center;
}
.left{
    text-align: left;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    line-height: 35px;
}

td, th {
    border: 1px solid #dddddd;
    
    padding: 8px;
}
.content-right-top{
    width: 1200px;
}


