<!DOCTYPE html>
<app-header></app-header>
<div class="content">
    <app-leftcontent></app-leftcontent>
    <div style="border: 1px solid lightgray;"><app-model></app-model></div>
    <section class="content-right">
        <section class="content-right-top-first">
                
                        <div class="container">
                            <span class="mytext">Главная</span>
                        </div>
                        <div class="container">
                            <span routerLink="/app-model-object-admin" routerLinkActive="active" class="mytext">Администратор объектной модели</span>
                        </div>
                        <div class="container">
                            <span routerLink="/app-tag-identification" routerLinkActive="active"class="mytext">Идентификация тега</span>
                        </div>
                    
        </section>
        <router-outlet></router-outlet>
<!--<app-model-object-admin></app-model-object-admin>-->
        <section class="content-right-footer">
            <div class="footerbtns">
                <button class="form_btn form_btn-send" type="submit">Сохранить</button>
                <button class="form_btn form_btn-reset" type="reset">Отменить</button>
            </div>
        </section>
    </section>
</div>
<app-footer></app-footer>