<section class="content-right-top-second">
  <span routerLink="app-main-description" routerLinkActive="active" class="spanClick">Общее описание</span>
  <span routerLink="app-model-balance" routerLinkActive="active" class="spanClick">Модель баланса МТР</span>
  <span routerLink="app-code-mvz" routerLinkActive="active" class="spanClick">Код МВЗ</span>
  <span routerLink="app-toir" routerLinkActive="active" class="spanClick">ТОиР</span>
</section>
<section class="content-right-bottom">
  <router-outlet></router-outlet>
</section>